{% extends 'base.html' %}

{% block title %} USERS | CREATE {% endblock %}

{% block content %}

<h1>Register of user</h1>

<form action="{{ url_for('user.create')}}" method="POST">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" required>

    </div>
    <div class="mb-3">
        <label for="" class="form-label">user</label>
        <input type="text" class="form-control" name="username" required>
        
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required>
        
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Rol</label>
        <select name="rol" class="form-select" required>
            <option value="admin">Admin</option>
            <option value="operator">Operator</option>
        </select>
        
    </div>
    <button type="submit" class="btn btn-primary">Register user</button>
</form>

{% endblock %}